{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Bienvenido</h1>

    </div>


    <div class="col-4">
       <img src="assets/img/dark_logo.PNG" class="img-thumbnail">


    </div>



</div>